html {
  font-family: system-ui, sans-serif;
}

.image-uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
  }

  .control {
    display: block;
    font-size: 0.875rem;
    color: #6b7280;

    &::file-selector-button {
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
      border: 0;
      font-size: 0.875rem;
      font-weight: 600;
      background-color: #eff6ff;
      color: #1d4ed8;
      cursor: pointer;

      &:hover {
        background-color: #dbeafe;
      }
    }
  }

  .help-text {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    color: #6b7280;
  }
}

.image-wrapper {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    touch-action: none;
    user-select: none;
  }
}

.point-marker {
  position: relative;
  width: 0;
  height: 0;

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
  }

  svg:nth-of-type(1) {
    transform: translate(-49%, -49%);
    opacity: 0.5;
    color: #fff;
  }

  svg:nth-of-type(2) {
    transform: translate(-51%, -51%);
    color: #111827;
  }
}

.focus-point-editor {
  container-type: size;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    touch-action: none;
    user-select: none;
  }

  .image-wrapper {
    position: relative;

    pointer-events: none;
    touch-action: none;
    user-select: none;
    z-index: 1;
  }

  .point-marker {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    touch-action: none;
    user-select: none;
    z-index: 2;
  }

  .ghost {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 0;
  }
}

.code-snippet {
  margin: 0;
  box-sizing: border-box;
  background-color: #111827;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  overflow: auto;

  .line {
    display: table-row;
  }

  .line-number {
    display: table-cell;
    padding-right: 1rem;
    font-size: 0.875rem;
    color: #6b7280;
    text-align: right;
    user-select: none;
  }

  .line-content {
    display: table-cell;
  }
}

.aspect-ratio-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  .control {
    width: 100%;
    background-color: #e5e7eb;
    border-radius: 0.5rem;
    appearance: none;
    cursor: pointer;
    accent-color: #2563eb;
  }
}

.aspect-ratio-ruler {
  position: relative;
  display: flex;
  margin: 0;
  align-items: flex-start;
  font-size: 0.75rem;
  color: #6b7280;

  .item {
    width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    writing-mode: sideways-lr;
  }

  .label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    &::after {
      content: "";
      margin-bottom: 0.25rem;
      display: inline-block;
      width: 1px;
      height: 0.75rem;
      background-color: #6b7280;
      vertical-align: middle;
    }
  }
}

.aspect-ratio-slider {
  width: 100%;
  box-sizing: border-box;

  .aspect-ratio-ruler {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 90px;
  gap: 1rem;
  margin: 1rem;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);

  .image-uploader {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .focus-point-editor {
    z-index: 2;
  }

  .aspect-ratio-slider {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    z-index: 1;
  }

  .code-snippet {
    margin: auto;
    width: 100%;
    max-width: 550px;
    z-index: 2;
  }
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow: hidden;
}
