html {
  font-family: system-ui, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 1200px) 1fr;
  grid-template-rows: min-content 1fr 90px;
  gap: 1rem;
  margin: 1rem;
  width: calc(100dvw - 2rem);
  height: calc(100dvh - 2rem);
}
